
.settings/
.project
.classpath

###########################################
#java classes
###########################################
*.class


###########################################
#class folders
###########################################
**/classes/*
*.jar
.svn/*
target/*
.metadata**
.idea**
.idea/**